/* Fonts */

/* Open Sans */

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@300;400;500;600;700&family=Mukta:wght@200;300;400;500;600;700;800&family=Oleo+Script+Swash+Caps:wght@400;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@200;400;500;600;700;800&display=swap');

/* Poppins */

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@300;400;500;600;700&family=Mukta:wght@200;300;400;500;600;700;800&family=Oleo+Script+Swash+Caps:wght@400;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,300;0,500;1,200;1,400;1,600;1,700&display=swap');


/* Universal Styles */

:root {
    --container-color: #161616;
    --text-color: #B9B9B9;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

.same-width {
    width: 50%;
}

/* Top banner starts */

.top-banner {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    background-color: var(--container-color);
    display: flex;
    width: 80%;
    height: 80vh;
    border-radius: 20px;

}

.intro {
    color: white;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
}

.intro h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 65px;
    margin-bottom: 0px;
}

.intro p {
    margin: 30px 0px;
    color: var(--text-color);
}

.intro .btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 7px;
    border: none;
    background-color: red;
    width: 170px;
    transition: transform 0.5s linear;

}

.intro .btn:hover {
    transform: scale(1.2);
}

.intro .btn a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.player img {
    width: 80%;
    height: 100%;
}

/* Top banner ends */

/* News section starts */

.full-container{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    
   
   
}
.flex-container{
    display: flex;
    width: 80vw;
    border-radius: 20px;
    gap:20px;
   
}
.aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 25%;
    height: 240px;
    background-color: #161616;
    border-radius: 20px;
    
}
.aside a{
    text-decoration: none;
    color: black;
    width: 80%;
}
.aside a button{
    width: 100%;
    padding: 14px 15px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s;
    
}

 .aside .upcoming-match:hover{
     background-color: rgb(208, 96, 96);
     color: white;
 }
 .aside .all-group:hover{
     background-color: rgb(208, 96, 96);
     color: white;
 }
.aside .blogs{
    background-color: red;
    color: white;
}
.main-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    flex-grow: 1;
    width: 75%;
}
.news{
    
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 100%;
}
.news .thumbnail{
    width: 100%;
    height: 50%;
}
.news .thumbnail img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    transform: scale(0.95);
}
.news .thumbnail img:hover{
    transition: transform 0.7s ease-in-out;
    transform: scale(1);
}
.news-info{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 50%;
}
.news-info .View{
    padding: 5px 20px;
    border: none;
    background-color: darkslateblue;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}
.news-info .View:hover{
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.185);
    color: black;
    transition: all 0.5s linear;
    box-shadow: 3px 3px 10px grey;
   
}
.news-info h5{
    font-weight: 600;
    margin-top: 8px;
    padding-bottom: 40px;
    margin-bottom: 0px;
}
.news-info h5:hover{
    color: rgb(53, 53, 247);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    cursor: pointer;
    
}
.reaction{
    display: flex;
    gap: 30px;
    position: absolute;
    bottom: 10px;
    
}
.reaction span{
    display: flex;
    gap: 15px;
    align-items: center;
    
}

/* News section ends */




/* Footer starts */

footer {
    background-color: var(--container-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    border-radius: 15px 15px 0px 0px;
}

footer .goal {
    margin-top: 90px;
}

.goal h1 {
    margin: 0px;
    color: white;
    cursor: context-menu;
    font-size: 50px;
    letter-spacing: 15px;
}

hr {
    width: 5vw;
    margin: 50px 0px;
    color: var(--text-color);
    margin-left: -10px;
}

/* Hr animation starts */

@keyframes hrwidth {
    0% {
        width: 0vw;
    }

    100% {
        width: 80vw;
    }
}

footer:hover>hr {
    animation: hrwidth 2s linear 0.3s infinite alternate;
}

/* Hr animation ends */

.footer-menu ul,
.social-links ul {
    display: flex;
    gap: 30px;
}

.footer-menu ul li,
.social-links ul lI {
    list-style-type: none;
}

.footer-menu {
    margin-bottom: 25px;
}

.footer-menu ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    letter-spacing: 2px;
}

.social-links {
    margin-bottom: 50px;
}

.social-links ul li a {
    color: var(--text-color);
    font-size: 35px;
    position: relative;

}

.social-links ul li a:hover>i {
    color: white;
    transform: scale(1.2);
    transition: transform 0.3s linear;

}

.social-links ul li a::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease-out;


}

.social-links ul li a:hover::after {
    width: 110%;

}

/* Footer ends */


/* Mobile Responsive */

@media only screen and (max-width:688px) {
    .top-banner{
        display: flex;
        width: 100%;
        margin-top: 20px;
        justify-content: center;
    }
    
    .container{
        flex-direction: column;
        width: 80%;
        height: 100%;
        padding: 30px;
        padding-bottom: 0px;
    }
    .intro{
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0;
    }
    .intro h1 {
        font-size: 30px;
        font-weight: 600;
       line-height: normal;
        margin-bottom: 0px;
        text-align: center;
    }
    .intro p{
        text-align: center;
    }
.player{
    display: flex;
    width: 100%;
    
}
.player img{
    width: 70%;
    height: 70%;
    margin-left: 30px;
}
.full-container{
    margin-top: 30px;
}
.flex-container{
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.aside{
    width: 90%;
    background-color: white;
}
.aside a{
    display: flex;
    justify-content: center;
}
.aside a button{
    border: 2px solid #ddd;
    background-color: white;
    font-size: 22px;
    font-weight: 700;
    
}
.aside a .upcoming-match{
    width: 100%;
}
.aside a .all-group{
    width: 65%;
}
.aside a .blogs{
    width: 65%;
}
.main-content{
    width: 100%;
    grid-template-columns: repeat(1,1fr);
}
.news{
    gap: 15px;
}
.news-info{
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}
.news-info .View {
    padding: 7px 25px;
    border: none;
    background-color: darkslateblue;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 25px;
}
.news-info h5{
    font-size: 20px;
}
.footer-menu ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0px;
}

}